@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500;700&family=Lato:ital,wght@0,700;1,700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Eczar', serif;
  background-color: $color-main-dark;
  padding: $spacing4;
  letter-spacing: .02rem;
}

body {
  display: flex;
  justify-content: center;
}

.cSheet {
  position: relative;
  width: 40rem;
  padding: $spacing4;

  color: $color-main-dark;

  background: $color-bg;
  border: $spacing3 solid $color-bg;
  box-shadow: 0px 100px 80px rgba(17, 24, 3, 0.13), 0px 22.3363px 17.869px rgba(17, 24, 3, 0.0774939), 0px 6.6501px 5.32008px rgba(17, 24, 3, 0.0525061), inset 0 0 0 2px $color-main-light;
  border-radius: $spacing4;
}