input {
  border: none;
  background: transparent;
}
  input:focus {
    outline: none;
  }

.about {
  display: flex;
  margin-bottom: $spacing4;
}

  .labelBoxed,
  .heartMaxWrap>label {
      color: $color-main-medium;
      font-family: 'Lato', sans-serif;
      font-size: .6rem;
      font-style: italic;
      line-height: 1rem;
      letter-spacing: .1rem;
      text-transform: uppercase;
  }
  
  .inputGroup {
    position: relative;
    margin-right: 1rem;
  }
    .inputGroup:last-child {
      margin-right: 0;
    }
    .inputGroup.pronouns {
      flex-shrink: 2;
    }
    .labelBoxed {
      position: absolute;
      z-index: 10;
      top: $base/2;
      left: $spacing1;
      display: block;
    }

.input{
  width: 100%;
  padding: 1.25rem 0.5rem 0.25rem;

  color: $color-main-dark;
  font-family: inherit;
  font-size: $font-md;
  line-height: $font-lg;

  border: none;
  border-radius: $border-radius;
  background: $color-light;
  transition: box-shadow .3s, transform .3s;
  
  &:hover {
    box-shadow: inset 0 0 0 2px $color-main-light;
  }
  &:focus {
    outline: none;
    box-shadow: $shadow-focus, inset 0 0 0 2px $color-main-light;
    transform: scale(1.05);
  }
  &.small {
    font-size: $font-sm;
  }
}