@import "tokens";

.inventory {
  margin-bottom: $spacing3;
}

.inventory h2 {
  position: relative;
  margin-bottom: $spacing2;

  font-size: $font-lg;
  text-align: center;
  line-height: $font-lg;

  &::before,
  &::after {
    content: "";
    
    position: absolute;
    top: 0;

    width: 190px;
    height: 16px;

    background-image: url(../img/inventory-detail-l.svg);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
    background-image: url(../img/inventory-detail-r.svg);
  }

}

.inventorySets {
  display: flex;
  justify-content: space-between;
  gap: $spacing3;
}

.inventorySet {
  position: relative;
  flex-grow: 1;
  
  display: grid;
  column-gap: $spacing2;
  row-gap: $spacing2;
  grid-template-columns: 1fr 1fr;
  padding: $spacing6 $spacing2 $spacing2;
  overflow: hidden;

  border-radius: $border-radius;
  background-color: $color-light;

  & > h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    padding: $spacing05 $spacing2;

    color: $color-bg;
    font-size: $font-sm;
    line-height: $font-xlg;

    background-color: $color-main-dark;
  }
}

.itemSlot {
  position: relative;
  width: 100%;
  height: $spacing12;

  background: $color-light;
  background-size: cover;
  border-radius: $border-radius;
  border: 1px dashed $color-main-light;
  transition: box-shadow .3s ease-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 $spacing05 $color-main-overlay;
  }
}

.item {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;

  display: flex;
  align-items: flex-end;
  
  font-size: $font-sm;

  background-size: cover;

  &:hover>.itemName {
    opacity: 1;
  }
  &:hover>.deleteItemButton {
    opacity: 1;
  }
}

.itemAmount {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  padding: 0.5rem 0.6rem 0.3rem;

  width: $spacing3;
  height: $spacing3;
  
  color: $color-light;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  
  background: $color-main-dark;
  border-radius: 20rem;
}
.itemAmount::-webkit-outer-spin-button,
.itemAmount::-webkit-inner-spin-button {
  display: none;
}

.itemName {
  width: 100%;
  background: #ffffff99;
  line-height: 1;
  opacity: .5;
  transition: opacity .3s;
}

.deleteItemButton {
  position: absolute;
  top: -$spacing1;
  left: -$spacing1;

  width: $spacing3;
  height: $spacing3;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: lightsalmon;
  opacity: 0;
  transition: box-shadow .3s, opacity .3s;

  &:hover {
    box-shadow: 0 0 0 2px lightsalmon;
  }

  &>img {
    width: $spacing1;
  }
}