@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@500;700&family=Lato:ital,wght@0,700;1,700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Eczar', serif;
  background-color: #344E41;
  padding: 2rem;
  letter-spacing: .02rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cSheet {
  position: relative;
  width: 40rem;
  padding: 2rem;
  color: #344E41;
  background: #DAD7CD;
  border: 1.5rem solid #DAD7CD;
  -webkit-box-shadow: 0px 100px 80px rgba(17, 24, 3, 0.13), 0px 22.3363px 17.869px rgba(17, 24, 3, 0.0774939), 0px 6.6501px 5.32008px rgba(17, 24, 3, 0.0525061), inset 0 0 0 2px #A3B18A;
          box-shadow: 0px 100px 80px rgba(17, 24, 3, 0.13), 0px 22.3363px 17.869px rgba(17, 24, 3, 0.0774939), 0px 6.6501px 5.32008px rgba(17, 24, 3, 0.0525061), inset 0 0 0 2px #A3B18A;
  border-radius: 2rem;
}

button {
  padding: .75em 1em .5em;
  color: #F8F8F7;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.125rem;
  border: none;
  border-radius: 0.5rem;
  background: #588157;
  -webkit-box-shadow: 0px 4px 0px #2c4142;
          box-shadow: 0px 4px 0px #2c4142;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, box-shadow .3s;
  transition: transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

button:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0px 2px 0px #2c4142;
          box-shadow: 0px 2px 0px #2c4142;
}

button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px #2c4142;
          box-shadow: 0px 0px 0px #2c4142;
}

.logo {
  position: relative;
  left: 50%;
  margin-top: -3rem;
  margin-left: -87px;
  display: inline-block;
  padding: 0.5rem;
  background: #DAD7CD;
}

.logo .logoImg {
  height: 4rem;
}

input {
  border: none;
  background: transparent;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.labelBoxed,
.heartMaxWrap > label {
  color: #3A5A40;
  font-family: 'Lato', sans-serif;
  font-size: .6rem;
  font-style: italic;
  line-height: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.inputGroup {
  position: relative;
  margin-right: 1rem;
}

.inputGroup:last-child {
  margin-right: 0;
}

.inputGroup.pronouns {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.labelBoxed {
  position: absolute;
  z-index: 10;
  top: 0.25rem;
  left: 0.5rem;
  display: block;
}

.input {
  width: 100%;
  padding: 1.25rem 0.5rem 0.25rem;
  color: #344E41;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.125rem;
  border: none;
  border-radius: 0.5rem;
  background: #F8F8F7;
  -webkit-transition: -webkit-box-shadow .3s, -webkit-transform .3s;
  transition: -webkit-box-shadow .3s, -webkit-transform .3s;
  transition: box-shadow .3s, transform .3s;
  transition: box-shadow .3s, transform .3s, -webkit-box-shadow .3s, -webkit-transform .3s;
}

.input:hover {
  -webkit-box-shadow: inset 0 0 0 2px #A3B18A;
          box-shadow: inset 0 0 0 2px #A3B18A;
}

.input:focus {
  outline: none;
  -webkit-box-shadow: 0 0.25rem 0 0 #3474531c, inset 0 0 0 2px #A3B18A;
          box-shadow: 0 0.25rem 0 0 #3474531c, inset 0 0 0 2px #A3B18A;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.input.small {
  font-size: 0.75rem;
}

.attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.instrument {
  position: relative;
  z-index: 20;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 4px solid #344E41;
  background: #F8F8F7;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .3s, -webkit-transform .3s;
  transition: -webkit-box-shadow .3s, -webkit-transform .3s;
  transition: box-shadow .3s, transform .3s;
  transition: box-shadow .3s, transform .3s, -webkit-box-shadow .3s, -webkit-transform .3s;
}

.instrument:hover {
  -webkit-box-shadow: 0 0 0 0.25rem #3474531c;
          box-shadow: 0 0 0 0.25rem #3474531c;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.instrument .instrumentLabel {
  position: absolute;
  top: -0.3rem;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  z-index: 30;
  padding: 0 0.25rem;
  color: #F8F8F7;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #344E41;
  border-radius: 0.5rem 0.5rem 0 0;
}

.instrument .instrumentLabel::before, .instrument .instrumentLabel::after {
  content: '';
  position: absolute;
  z-index: -10;
  top: 0.5rem;
  border: 0.5rem solid #344E41;
  border-bottom: 0.5rem solid transparent;
}

.instrument .instrumentLabel::before {
  left: 0;
  border-right: 0.5rem solid transparent;
}

.instrument .instrumentLabel::after {
  right: 0;
  border-left: 0.5rem solid transparent;
}

.instrument .instrumentInput {
  visibility: hidden;
}

.armor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url(../img/armor.png);
  background-repeat: no-repeat;
  background-size: 3.5rem;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.armor:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.armor .armorInput {
  max-width: 100%;
  color: #F8F8F7;
  font-family: inherit;
  font-size: 1.125rem;
  text-align: center;
  border: none;
  background: transparent;
}

#hearts {
  position: relative;
  padding-right: 2rem;
  margin-right: -2rem;
}

#hearts:hover > .heartMaxWrap {
  display: block;
}

.heartsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heartItem {
  padding: 0.25rem;
  height: 2rem;
}

.heartInput {
  position: absolute;
  visibility: hidden;
}

.heartLabel {
  cursor: pointer;
}

.heartIconFilled {
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.heartInput:checked ~ .heartLabel > .heartIconFilled {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.heartInput:checked ~ .heartLabel > .heartIconFilled:hover {
  opacity: .75;
}

.heartMaxWrap {
  display: none;
  position: absolute;
  top: -0.5rem;
  left: 100%;
  margin-left: -1.5rem;
  padding: 0.5rem;
  background: #DAD7CD;
  border-radius: 0.5rem;
}

.heartMaxWrap > * {
  display: block;
}

.heartMaxWrap > .inputGroup {
  margin-right: 0;
}

#heartsMax {
  width: 7rem;
  font-size: 1.125rem;
}

#heartsButton {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.inventory {
  margin-bottom: 1.5rem;
}

.inventory h2 {
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.125rem;
}

.inventory h2::before, .inventory h2::after {
  content: "";
  position: absolute;
  top: 0;
  width: 190px;
  height: 16px;
  background-image: url(../img/inventory-detail-l.svg);
}

.inventory h2::before {
  left: 0;
}

.inventory h2::after {
  right: 0;
  background-image: url(../img/inventory-detail-r.svg);
}

.inventorySets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

.inventorySet {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 3rem 1rem 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #F8F8F7;
}

.inventorySet > h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.25rem 1rem;
  color: #DAD7CD;
  font-size: 0.75rem;
  line-height: 1.5rem;
  background-color: #344E41;
}

.itemSlot {
  position: relative;
  width: 100%;
  height: 6rem;
  background: #F8F8F7;
  background-size: cover;
  border-radius: 0.5rem;
  border: 1px dashed #A3B18A;
  -webkit-transition: -webkit-box-shadow .3s ease-out;
  transition: -webkit-box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out, -webkit-box-shadow .3s ease-out;
  cursor: pointer;
}

.itemSlot:hover {
  -webkit-box-shadow: 0 0 0 0.25rem #d8e9e6;
          box-shadow: 0 0 0 0.25rem #d8e9e6;
}

.item {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.75rem;
  background-size: cover;
}

.item:hover > .itemName {
  opacity: 1;
}

.item:hover > .deleteItemButton {
  opacity: 1;
}

.itemAmount {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  padding: 0.5rem 0.6rem 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #F8F8F7;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background: #344E41;
  border-radius: 20rem;
}

.itemAmount::-webkit-outer-spin-button,
.itemAmount::-webkit-inner-spin-button {
  display: none;
}

.itemName {
  width: 100%;
  background: #ffffff99;
  line-height: 1;
  opacity: .5;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.deleteItemButton {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: lightsalmon;
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-box-shadow .3s;
  transition: opacity .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, opacity .3s;
  transition: box-shadow .3s, opacity .3s, -webkit-box-shadow .3s;
}

.deleteItemButton:hover {
  -webkit-box-shadow: 0 0 0 2px lightsalmon;
          box-shadow: 0 0 0 2px lightsalmon;
}

.deleteItemButton > img {
  width: 0.5rem;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.footerInputGroup {
  position: relative;
  width: 100%;
}

.footerInputGroup > label {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #A3B18A;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 2px solid #F8F8F7;
  -webkit-transition: border .3s ease-out, -webkit-box-shadow .3s ease-out;
  transition: border .3s ease-out, -webkit-box-shadow .3s ease-out;
  transition: border .3s ease-out, box-shadow .3s ease-out;
  transition: border .3s ease-out, box-shadow .3s ease-out, -webkit-box-shadow .3s ease-out;
}

.footerInput {
  height: 2.5rem;
  width: 100%;
  padding-left: 3rem;
  color: #344E41;
  font-family: inherit;
  background-color: #F8F8F7;
  border: 2px solid #F8F8F7;
  border-radius: 0.5rem;
  -webkit-transition: border .3s ease-out, -webkit-box-shadow .3s ease-out;
  transition: border .3s ease-out, -webkit-box-shadow .3s ease-out;
  transition: border .3s ease-out, box-shadow .3s ease-out;
  transition: border .3s ease-out, box-shadow .3s ease-out, -webkit-box-shadow .3s ease-out;
}

.footerInput:focus,
.footerInput:focus ~ label, .footerInput:hover,
.footerInput:hover ~ label {
  border-color: #A3B18A;
}

.footerInput:focus,
.footerInput:focus ~ label {
  -webkit-box-shadow: 0 0.25rem 0 0 #3474531c;
          box-shadow: 0 0.25rem 0 0 #3474531c;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #344E41;
  background-color: rgba(44, 65, 66, 0.8);
}

.modal.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .closeButton {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 3rem;
  padding: 1.5rem;
  text-decoration: underline;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.modal .closeButton:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal .closeButton > img {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.modal .closeButton:hover > img {
  background-color: #d8e9e6;
}

.modal > .container {
  position: relative;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #DAD7CD;
}

.modal > .container button {
  display: block;
  width: 100%;
}

.modalTitle {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 1rem 0 1.5rem;
}

.modalRow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin-bottom: 1rem;
}

.iconRow {
  position: relative;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.iconRow > .labelBoxed {
  left: 0;
  color: #3A5A40;
}

.iconImage {
  width: 2.5rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, box-shadow .3s;
  transition: border .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

.iconImage.selected {
  border-color: #A3B18A;
  -webkit-box-shadow: 0 0 0 2px #F8F8F7;
          box-shadow: 0 0 0 2px #F8F8F7;
}
/*# sourceMappingURL=style.css.map */